.container {
    min-height: 100vh;
    width: 100%;
    position: relative;
}
.container .bg {
    background: url("../img/bg-new.JPG");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.container .content {
    display: flex;
    width: 100%;
    padding-top: 60px;
}
.container h1 {
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    color: rgb(45, 67, 102);
}
/* .home .layer2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../img/bg.JPG");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    filter: blur(20px);
    z-index: -1;
}
.home .layer1 {
    position: absolute;
    margin-top: 20px;
    top: 50%;
    left: 50%;
    width: 90%;
    height: calc(90% - 60px);
    transform: translate(-50%, -50%);
    background: url("../img/bg.JPG");
    background-position: center;
    background-size: cover;
    z-index: 1;
    box-shadow: 0 0 5px 5px rgba(255,255,255,.8)
} */
