.navbar {
    padding: 0;
    background: rgb(45, 67, 102);
    width: 100%;
    position: fixed;
}
.navbar-brand {
    margin-left: 20px;
    font-weight: 700;
    text-decoration: none;
    transition: all .5s ease-in;
    color: #fff;
}
.navbar-brand:hover {
    text-decoration: none;
    color: #e4d0f2;
}
.navbar-collapse {
    width: 100%;
    text-align: center;
}
.navbar-collapse ul li {
    margin: 10px;
    margin-left: 40px;
    margin-right: 40px;
}
.navbar-collapse ul li a {
    color: #fff;
    margin-left: auto;
    margin-right: auto;
}